@font-face {
	font-family: JosefinSans;
	src: url(/assets/JosefinSans-Regular.ttf);
	font-style: normal;
	font-weight: normal;
  }

html {
	font-family: JosefinSans;
}
body {
	margin:0;
	overflow:hidden;
	font-family: JosefinSans;
}

.flex-contianer{
	width: 100%;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	opacity: 70%;

}

.midflex-box, .flex-box{
	width:200px;
	height:200px;
	font-size:25px;
	text-align:center;
	line-height:70px;
	margin: 20px;

}

.midflex-box{	
	background:white;
	color:grey;	
	display: flex;
	font-size:30px;
	line-height:70px;
	justify-content: center;
	align-items: center;
}


.flex-box{	
	color:white;	
}


.page {
	position:absolute;	
	top:0;
	width:100vw;
	height:100vh;
}

.page {
	transform:translate(100%);
	transition: 1s transform ease;	
}
.page[data-page="entry"] {
	background-size: 100% 100%; /* contain, cover*/
	transform:translate(-100%);	
	text-align: right;
	transition: 1s transform ease;
}

/**
.page[data-page="gov1"] {
	background: url(/assets/gov_bg.png) no-repeat center center fixed; 
	background-size: 100% 100%;
	transform:translate(-100%);
	transition: 1s transform ease;
		
}*/

.page[data-page="gov1"] {
	background: url("../../assets/gov_bg.png") no-repeat center center fixed;
	background-size: 100% 100%;
	transform: translate(-100%);
  } 
.page[data-page="health"] {
	background: url(/assets/hc_bg.png) no-repeat center center fixed; 
	background-size: 100% 100%;
	
}

.page[data-page="gov2"] {
	background: url(/assets/gov_bg.png) no-repeat center center fixed; 	
	transform:translate(-100%);	 
	background-size: 100% 100%;	
}
.page.active {
	transform:translate(0);
}

.leftside, .rightside{
	height:100vh;
	width:100%;	
	cursor: pointer; 
}

.leftside{
	background:url(/assets/gov_bg.png) no-repeat center center fixed;
	background-size: cover;
	cursor: pointer; 
	align-items: left;
	justify-content: left;
	
}
.rightside{
	background:url(/assets/hc_bg.png)no-repeat center center fixed;
	background-size: cover;
	cursor: pointer; 
}

.explore-button{
	color:white;
	background-color: grey;
	padding:20px;
	margin:20px;
	overflow:hidden;
	position:absolute;
    bottom: 30px;
	left:-20px;
	cursor: pointer; 
}


/* Left and right arrow buttons */
.right-button, .left-button{
	background-color: grey;
	color:white;
	margin:1.5rem;
	overflow:hidden;
	position:absolute;
	cursor: pointer; 
	padding: 40px; /* Some padding */
	top: -30px;	
}

img{
	float:right;
   }
.right-button{
	/*background: url(/assets/arrowR.png) no-repeat center center fixed;*/
	background-color: grey;
	right: 30px;	
}

.left-button{
	/*background: url(/assets/arrowL.png) no-repeat center center fixed;	*/
	background-color: grey;
	left: -30px;	
}

.button {
	background: grey;
	color:white;
	padding:1rem;
	display:inline-block;
	margin:10px;
	position:relative;
	overflow:hidden;
	width:200px;
	height:200px;
	font-size:25px;	
	line-height:60px;
}

.option-button{
	color:white;
	background-color: grey;
	padding:1rem;
	display:inline-block;
	margin:1rem;
	overflow:hidden;
	cursor: pointer; 
	justify-content: center;     
}


.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }


/* Gov 2 page options */
.options {
	background-color:gray;
	color: white; /* White text */
	padding: 20px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	text-align: center;
	position: fixed;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
  }

  

/* Add a background color on hover */
.btn-group button:hover {
	background-color: lightgray;
  }

 .button::after {
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	animation:pulse infinite ease 3s;
	border-radius:50% 50%;
	background:white;	
	height:2rem;
	width:2rem;
}

.dot, .grey-dot, .yellow-dot, .g-dot{
	height: 50px;
  	width: 50px;
    border-radius: 50%;
 
	position:absolute;
	display: flex;
	
}

.dot {  
  background-color: #bbb; 
  left:550px;

}

.grey-dot {  
  background-color: grey;  
  left:580px;
}

.yellow-dot {  
  background-color: yellow; 
  left:610px;
}

.g-dot { 
  background-color: grey;  
  left:640px;
}


/* Health bubble options */
.box {
	width: 300px;
	margin: 50px auto;
	background:grey;
	padding: 20px;
	text-align: center;
	font-weight: 900;
	color: #fff;
	position:relative;
  }

.sb3:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;	
	border-right: 10px solid transparent;
	border-top: 10px solid grey;
	border-bottom: 10px solid transparent;
	left: 150px;
	bottom: -19px;
  }

 .optB{
	position: absolute;
	top: 180px;
	right:250px;
  }
  
  .optA{
	position: absolute;;
	top: 130px;
	left:150px;
  }



@keyframes pulse {
	0% { transform:translate(-50%, -50%) scale(0); opacity:0.5;}
	100% { transform:translate(-50%, -50%) scale(3); opacity:0;}
}

